<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse text-center footer">
  <!-- <div class="container-fluid"> -->
  <img alt="Brand" src="logo_accent.png">
  <div class="row">
    <ul class="nav footer-nav">
      <li role="presentation">{{#link-to 'users'}}<a href="">Users</a>{{/link-to}}</li>
      <li role="presentation">{{#link-to 'how-it-works'}}<a href="#">How it works</a>{{/link-to}}</li>
      <li role="presentation">{{#link-to 'support'}}<a href="#">Support</a>{{/link-to}}</li>
      <li role="presentation">{{#link-to 'faq'}}<a href="#">FAQ</a>{{/link-to}}</li>
      <li role="presentation"><a target="_blank" href="https://twitter.com">Twitter</a></li>
    </ul>
  </div>
  <div class="row">
    <small class="text-muted">Copyright 2016 MeshApp. All Rights Reserved.</small>
  </div>

  <!-- </div> -->
</nav>
