{{#bs-navbar class="accent" as |navbar|}}
  <div class="navbar-header accent">
    {{#navbar.toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/navbar.toggle}}
  {{#link-to "index" class="navbar-brand"}}<img alt="Brand" src="logo.png">{{/link-to}}
  </div>
  {{#navbar.content class="navbar-right accent"}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to 'users'}}Create an account{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'how-it-works'}}How it works{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'support'}}Support{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'faq'}}FAQ{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
