<nav class="navbar navbar-fixed-top accent">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{#link-to 'index'}}<img alt="Brand" src="logo.png">{{/link-to}}
      </a>
    </div>

      <ul class="nav nav-pills navbar-right">
        {{#link-to 'users' tagName="li"}}<a href="">Create an account</a>{{/link-to}}
        {{#link-to 'how-it-works' tagName="li"}}<a href="#">How it works</a>{{/link-to}}
        {{#link-to 'support' tagName="li"}}<a href="#">Support</a>{{/link-to}}
        {{#link-to 'faq' tagName="li"}}<a href="#">FAQ</a>{{/link-to}}
      </ul>
  </div>
</nav>
