<div class="accent">
  <div class="jumbotron container hero">
    <div class="col-md-6 col-sm-6">
      <h1>MeshApp -</h1>
      <h1>Play Songs Like Never Before</h1>
      <p>Don't leave your shopping to the last minute. The more time you have to shop around, the more you can negotiate.</p>
        <img src="app_store.png" alt="">
        <img src="google_play.png" alt="">
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="iphone.png" alt="">
    </div>
  </div>
</div>
