<h3>All Users:</h3>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
  </thead>
  <tbody>
    {{#each model as |user|}}
      {{#if user.name}}
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {{/if}}
      {{/each}}
  </tbody>
</table>


{{outlet}}
